.row-content {
    padding: 40px 0px 0px 0px;
    min-height:200px;
}

body{
	margin: 0;
    padding: 50px 0px 0px 0px;
    z-index:0;
}

.container-fluid {
	margin: 0;
}

.navbar-inverse {
     background: #52A2FF;
     height: 100px;
}

#userLogin {
	position: relative;
}

#userLogin .nav {
	position: absolute; 
    bottom: 0; 
    right: 0;
    margin-bottom: -40px;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
    background: #1A237E;
}

.navbar-inverse .navbar-nav > .open > a,
 .navbar-inverse .navbar-nav > .open > a:hover,
 .navbar-inverse .navbar-nav > .open > a:focus {
    color: #fff;
    background: #1A237E;
}

#loginModalButton {
	color: #000;
	background: #AC7CE3;
	border-radius: 0px; 
	padding: 10px;
}

.modal-content {
	color: #000;
}

.modal-header {
	background: #AC7CE3;
	color: #000;
}

.modal-body {
	background: #AC7CE3;
	padding: 35px;
}

#username, #password {
	border-radius: 0px;
	padding: 5px;
}

#cancel {
	margin-bottom: 0;
	margin-right: 0;
	border-radius: 0px;
	display: block;
}

#submit {
	margin-bottom: 0;
	margin-right: 0;
	border-radius: 0px;
	display: block;
	background: #4BFAB7;
}

#fileSearch {
	background: #AC7CE3;
	border-radius: 0px;
	margin-bottom: 0;
	margin-right: 0;
	display: block;
	padding: 5px;
}

#searchArea {
	background: #4BFAB7;
	padding: 10px;
	height: 100px;
}

#searchBox {
	width: 90%;
	margin: 5px;
}

#company {
	background: #D6DBFF;
	padding: 15px;
}

#chat {
	background: #fff;
	height: 375px;
}

#message {
	background: #54A3FF;
	padding: 15px 15px 45px 15px;
}

#yourMessage {
	min-width: 100%;
}

#attach {
	background: #4BFAB7;
	display: block;
	border-radius: 0px;
	margin-bottom: 0;
	margin-right: 0;
	padding: 5px;
}

#send {
	background: #AC7CE3;
	display: block;
	border-radius: 0px;
	margin-bottom: 0;
	margin-right: 0;
	padding: 5px;
}

#search {
	background: #D6DBFF;
	padding: 15px;
	margin-top: 10px;
}

#companyBar {
	background: #3B63E6;
	padding: 15px;
}

#departmentsBar, #projectsBar, #alertsBar {
	background: #AC7CE3;
	padding: 10px;
	margin-top: -10px;
}

#usersBar {
	background: #52A2FF;
	padding: 10px;
	margin-top: -10px;
}

.box {
	margin-top: -10px;
	background: #fff;
	height: 223px;
}

.internal {
	padding: 25px;
	height: 150px;
}

.box2 {
	margin-top: -10px;
	background: #fff;
	height: 210px;
}

.new {
	background: #4BFAB7;
	padding: 5px;
	margin-bottom: 0;
	margin-right: 0;
	border-radius: 0px;
	display: block;
}