<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html"><img src="images/EfficiChatLogo.png" height=80 width=200 alt="Effici-Chat"></a>
                </div>
                <div class="navbar-collapse collapse" id="userLogin">
                <ul class="nav navbar-nav navbar-right">
                    <li><a id="loginModalButton" role="button" class="btn btn-block btn-md" href="#loginModal" rel="modal:open">
                    <i class="fa fa-power-off" aria-hidden="true"></i> Login</a>
                    </li>
                    <!--<li ng-if="">
                    <a>{{username}}</a>
                    </li>
                    <li ng-if="">
                    <a ng-click="">
                    <i class="fa fa-power-off" aria-hidden="true"></i> Logout</a>
                    </li> -->
                </ul>    
                </div>
            </div>
    </nav>
    